// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$toyorange: #EDA86B;
$light-toyorange: #FFDBBC;
$toyred: #EA7878;
$toyblue: #ACE2E5;

$cat-doll: #F4CFDF;
$cat-electronic: #F7F6CF; 
$cat-lego: #B2E4D5;
$cat-soft: #EEBAB2;
$cat-disney: #9AC8EB;
$cat-action: #B6D8F2;
$cat-wooden: #E7CBA9;
$cat-education: #CCD4BF;
$cat-board: #98D4BB;
$cat-puzzle: #BEB4C5;