// Specific CSS for your home-page
.background {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.welcome {
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
