.toy-img {
  margin-top: 40px;
  position: relative;
}

.toy-category {
  background-color: $toyorange;
  border-radius: 20px;
  padding: 2px 8px;
  position: absolute;
  top: -36px;
}

.toy-info {
  padding: 8px;
}

.btn:hover i{
  animation: 1s turn;
}

@keyframes turn{
 50%{
  transform: rotate(90deg);
 }
}

