.toy-info-box {
  padding: 24px 0 16px 24px;
}

.toy-img {
  margin-top: 40px;
  position: relative;
  border-radius: 4px;
}

.toy-category {
  border-radius: 20px;
  padding: 2px 8px;
  position: absolute;
  top: -36px;
}

.toy-info {
  padding: 32px 0 0 16px;
}

.offer-form {
  padding: 16px;
  margin-top: 16px;
  border-radius: 4px;
  width: 80%;
  background-color: white;
}