.toys h1 {
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.toys {
  flex-grow: 1;
  padding: 0 24px;
}

#map {
  width: 40%;
  position: sticky;
  top: 0;
}

.card-toy:hover{
  opacity: 0.8;
}

.btn:hover i {
 animation: 1s swing;
}

@-webkit-keyframes swing {
  60%{
  transform: rotate(90deg);
  }
}
