<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    at toy box we <i class="fas fa-heart"></i> toys <%= image_tag "logo.svg", :class => "logo" %>
    <%# Icons made by <a href="https://www.flaticon.com/free-icon/user_758669" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> %>
  </div>
</div>
