<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    at toybox we <i class="fas fa-heart"></i> toys <%= image_tag "logo.svg", :class => "logo" %>
  </div>
</div>
