<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://source.unsplash.com/mf_3yZnC6ug)">
  <div class="welcome">
    <h1 class="font-bubblegum"><i style="font-size: 36px;" class="fas fa-robot mr-2"></i> Welcome to Toy Box</h1>
    <h3><strong>Sharing is caring!</strong></h3>
    <p><strong>Share forgotten toys, avoid clutter and spread the joy!</strong></p>
    <%= link_to toys_path, class: "btn btn-outline-warning" do %>
      <i class="fas fa-gamepad mr-2"></i> Get Started
    <% end %>
    </div>
</div>
