<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(https://source.unsplash.com/mf_3yZnC6ug)">
  <div class="welcome">
    <h1><i class="fas fa-robot"></i> Welcome to Toy Box</h1>
    <h3 class="pt-2"><strong>Sharing is caring!</strong></h3>
    <p>"Life is beautiful live it to the full, Love is abundance share it with your friends."</p>
    <p>- <em>Vanessa Nanthakumaran</em></p>
    <%= link_to toys_path, class: "btn btn-outline-warning" do %>
      <i class="fas fa-gamepad"></i> Get Started
    <% end %>
    </div>
</div>
