.card-toy-map {
  overflow: hidden;
  background: white;
  min-width: 220px;
  max-width: 320px;
  border-radius: 5px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    text-align: right;
  }

  p {
    font-size: 14px;
    opacity: 1;
    margin: 0;
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;  
  }
}

.card-toy-map > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-toy-map .card-toy-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-map-category {
  position: absolute;
  top: -140px;
  left: 15px;
  background-color: $toyorange;
  border-radius: 20px;
  padding: 2px 8px;
  display: inline-block;
}

.card-toy {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 4px;
  position: relative;

  img {
    height: 100%;
    width: 100px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    opacity: 1;
    margin: 0;
  }
}

.card-toy .card-toy-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-toy-category {
  position: absolute;
  top: 12px;
  right: 16px;
  background-color: $toyorange;
  border-radius: 20px;
  padding: 2px 8px;
}

.card-toy-price {
  position: absolute;
  right: 16px;
  top: 68px;
}