

.navbar-lewagon {
  justify-content: space-between;
  color: black;
  margin-bottom: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.flex-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-logo h3 {
    margin-bottom: 0;
  }

.logo {
  margin-right: 5px;
}

#nav-link {
  color: black;
}
