.btn-search {
  display: inline;
  position:absolute;
  right:0;
  top:0;
}

.submit-form {
  display: flex;
  width: 65%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 8px;
  margin-top: 16px;
}
